.app{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aquamarine;
}

input[type="text"],
input[type="password"]{
    height: 25px;
}

input[type="submit"]{
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid gold;
    color: cyan;
    padding: 10px 20px;
}

